<p>Hi, <%= @receiver.email %>,</p>

<p><%= @comment.user.username %> commented on a task you follow: <%= link_to @task.name, project_task_url(project_id: @project, id: @task) %> (<%= link_to @project.name, project_url(@project) %>).

<%= render "signature" %>
