- title "#{@project.name}: #{t("title.milestones")}", action: :clear

%p= link_to t("milestones.new_milestone"), new_project_milestone_path, class: "btn btn-info"

- if @milestones.any?
  %table.table
    %thead
      %tr
        %th= t("milestones.title")
        %th= t("milestones.due_date")
    = render @milestones
- else
  %h2= t("milestones.no_milestones")
