- title "#{@project.name} / #{@milestone.title}", action: :clear

.row
  .panel.panel-default.task-info
    .panel-heading.clearfix
      .pull-right.btn-group
        = link_to edit_project_milestone_path(id: @milestone), class: "btn btn-xs btn-primary" do
          %i.fa.fa-edit
          Edit
        = link_to project_milestone_path(id: @milestone), class: "btn btn-xs btn-danger", data: { method: :delete, confirm: t("confirm.prompt") } do
          %i.fa.fa-trash-o
          Delete
      %div
        %h4= @milestone.title
    - if @tasks.any?
      = progress_bar @tasks.completed.size, @tasks.size, outer_class: "panel-block"
    .panel-body.clearfix
      .pull-left
        %div
          %i.fa.fa-folder
          = link_to @project.name, @project
        %div
          - if @milestone.due_date.present?
            :erb
              Due date: <%= @milestone.due_date.to_s(:long) %>
          - else
            No due date
  = render @tasks, hide_milestone: true
