= content_tag :blockquote, class: "blockquote-white comment", id: ("comment#{@comment.id}" unless @comment.new_record?) do
  = form_for [@project, @task, @comment], remote: !@comment.new_record? do |f|
    %small
      :erb
        <%= user_with_gravatar current_user %><% unless @comment.new_record? %><%= t("comments.edit_comment_html", cancel: link_to( t("comments.buttons.cancel"), project_task_comment_path(@project, @task, @comment), remote: true )) %><% end %>
    .form-group= f.text_area :text, placeholder: t("comments.form.comment"), rows: 5, class: "form-control"
    .form-group= f.submit t("comments.buttons.post"), class: "btn btn-primary"
