.col-sm-6
  = form_for @task do |f|
    .form-group.checkbox= f.label(:status, "Completed?") + f.check_box(:status)
    .form-group= f.text_field :name, class: "form-control", placeholder: "Name"
    .form-group= f.text_area :details, class: "form-control", placeholder: "Details", rows: 5
    .form-group
      = f.label :assignee_id, "Assign to"
      = f.select :assignee_id, options_for_select(@users, @task.assignee_id), include_blank: true
    .form-group= f.submit "Create", class: "btn btn-primary"
