%tr
  %td
    = form_for task, remote: true, html: { class: "form-inline" } do |f|
      .checkbox
        = f.check_box :status
        = status_label_for task
  %td= link_to task.name_with_id, task
  %td
    - if task.assignee.present?
      = gravatar_for(task.assignee) + task.assignee.email
    - else
      nobody
  %td= task.created_at.to_s(:long)
