= content_tag :tr, class: ("active" if current_user.id == task.assignee_id) do
  %td= check_box_with_status_for task
  %td
    = link_to task.name, project_task_path(id: task)
    - if (@comments_size = task.comments.size) > 0
      %span.badge= @comments_size
  %td= Task::PRIORITIES[task.priority]
  %td= user_with_gravatar task.assignee
