= cache [task, task.milestone, hide_assignee ||= false, hide_milestone ||= false] do
  = content_tag :li, class: "list-group-item clearfix task-details" do
    = priority_badge task
    %h4.list-group-item-heading
      = link_to task.name, project_task_path(task.project_id, task.id)
      - if (@comments_size = task.comments.size) > 0
        %small
          %i.icon-comments
          = pluralize @comments_size, "comment"
    .pull-left
      - if !hide_milestone and task.milestone.present?
        %div
          %i.icon-calendar
          = link_to task.milestone.title, project_milestone_path(task.project_id, task.milestone)
      %div= check_box_with_status_for task
    .pull-right
      :erb
        created <%= time_distance_with_tooltip task.created_at %> ago by <%= user_with_gravatar task.creator %><% unless hide_assignee %>, assigned to <%= user_with_gravatar task.assignee %><% end %>
