%h2
  = @project.name
  %small
    = link_to "Edit", edit_project_path(@project)
    |
    = link_to "New task", new_project_task_path

- if @tasks.any?
  %table.table
    %thead
      %tr
        %th{style: "width: 120px;"} Status
        %th Name
        %th Assigned to
    %tbody= render @tasks

= paginate @tasks

= javascript_include_tag "taskie.async.checkbox"
