%h2
  = @project.name
  %small= link_to "Edit", edit_project_path(@project)

- if @tasks.any?
  %table.table
    %thead
      %tr
        %th{style: "width: 120px;"} Status
        %th Name
        %th Assigned to
        %th{style: "width: 200px;"} Created
    %tbody= render @tasks.order("status ASC, created_at DESC")

%hr

= link_to "New task", new_project_task_path, class: "btn btn-primary"

= javascript_include_tag "taskie.async.checkbox"
