<div class="pull-right">
  <%= link_to "Edit", edit_project_task_path(id: @task), class: "btn btn-primary" %>
  <%= link_to "Delete", project_task_path(id: @task), class: "btn btn-danger", data: { method: :delete, confirm: t("confirm.prompt") } %>
</div>

<h2><small><%= link_to @project.name, project_tasks_path(@project) %></small> <%= @task.name %> <small><%= @task.created_at.to_s(:long) %></small></h2>

<p><%= check_box_with_status_for @task %></p>

<p>Assigned to: <% if @task.assignee.present? %><%= gravatar_for(@task.assignee) %><%= @task.assignee.email %><% else %>nobody<% end %></p>

<% if @task.details.present? %>
  <div class="well">
    <%= render_markdown(@task.details) %>
  </div>
<% end %>

<hr/>

<h3>Comments</h3>
<% if @comments.any? %>
  <%= render @comments %>
<% end %>

<hr/>

<%= render "comments/form" %>

<%= javascript_include_tag "taskie.async.checkbox" %>
