- title "#{@project.name} / #{@task.name}", action: :clear

.row
  .panel.panel-default.task-info
    .panel-heading.clearfix
      .pull-right.btn-group
        = link_to "Edit", edit_project_task_path(id: @task), class: "btn btn-xs btn-primary"
        = link_to "Delete", project_task_path(id: @task), class: "btn btn-xs btn-danger", data: { method: :delete, confirm: t("confirm.prompt") }
      %div
        %h4= @task.name
    .panel-body.clearfix
      .pull-left
        %div
          %i.icon-folder-close
          = link_to @project.name, @project
        - if @task.milestone.present?
          %div
            %i.icon-calendar
            = link_to @task.milestone.title, project_milestone_path(@task.project, @task.milestone)
        %div= check_box_with_status_for @task
      .pull-right.text-right
        %div= priority_badge @task
        %div
          assigned to
          = user_with_gravatar @task.assignee

%blockquote.blockquote-primary.task-details
  %small
    = user_with_gravatar @task.creator
    created
    = time_distance_with_tooltip @task.created_at
    ago
  %div
    - if @task.details.present?
      = render_markdown @task.details
    - else
      %p.text-muted No details

- (@comments + @task.activities.includes(:owner)).sort{ |x,y| x[:created_at] <=> y[:created_at] }.each do |activity|
  - if activity.is_a?(PublicActivity::Activity)
    = render_activity activity
  - else
    = render activity

= render "comments/form"

= javascript_include_tag "taskie.diff-explain.toggle"
