%h2
  = @task.name_with_id
  %small
    = @task.created_at.to_s(:long)

%p= status_label_for @task

%p
  Assigned to:
  - if @task.assignee.present?
    = gravatar_for(@task.assignee) + @task.assignee.email
  - else
    nobody

- if @task.details.present?
  .well= @task.details

%hr

= link_to "Edit", edit_task_path(@task), class: "btn btn-primary"
= link_to "Delete", task_path(@task), class: "btn btn-danger", data: { method: :delete, confirm: "Have you been taking your medication lately?" }
