.pull-right
  = link_to "Edit", edit_task_path(@task), class: "btn btn-primary"
  = link_to "Delete", task_path(@task), class: "btn btn-danger", data: { method: :delete, confirm: "Have you been taking your medication lately?" }

%h2
  = @task.name
  %small= @task.created_at.to_s(:long)

%p= check_box_with_status_for @task

%p
  Assigned to:
  - if @task.assignee.present?
    = gravatar_for(@task.assignee) + @task.assignee.email
  - else
    nobody

- if @task.details.present?
  .well= render_markdown(@task.details)

%hr

%h4 Comments

.col-sm-6
  - if @task.comments.any?
    - @task.comments.each do |comment|
      %blockquote.comment
        %small
          = gravatar_for(comment.user) + comment.user.email
          wrote
          = content_tag :span, distance_of_time_in_words(comment.created_at.to_s, Time.now), class: "has-tooltip", data: { title: comment.created_at.to_s(:long) }
          ago
        %div= render_markdown(comment.text)
  = form_for :comment, url: task_comments_path(@task) do |f|
    %blockquote.comment
      %small= gravatar_for(current_user) + current_user.email
      .form-group= f.text_area :text, placeholder: "Comment", rows: 5, class: "form-control"
      .form-group= f.submit "Post", class: "btn btn-primary"

= javascript_include_tag "taskie.async.checkbox"
