- title "Sign in"

.col-sm-offset-3.col-sm-6
  %h1 Sign in
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = devise_error_messages!
    .form-group
      = f.label :login
      = f.text_field :login, autofocus: true, placeholder: "user@example.com", class: "form-control"
    .form-group
      = f.label :password
      = f.password_field :password, placeholder: "password", class: "form-control"
    - if devise_mapping.rememberable?
      .checkbox
        = f.label(:remember_me) do |o|
          = f.check_box(:remember_me)
          = o.translation
    .form-group= f.submit "Sign in", class: "btn btn-primary btn-block"
  = render "devise/shared/links"
