!!!
%html{ lang: "en" }
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Taskie"
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', rel: 'apple-touch-icon-precomposed', type: 'image/png'
    = favicon_link_tag 'favicon.ico', rel: 'shortcut icon'

    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true

  %body
    .navbar.navbar-inverse
      .container
        .navbar-header
          = link_to "/", class: "navbar-brand" do
            Taskie
            %i.icon-spinner.icon-spin#loader{style: "display:none"}
          %button.navbar-toggle{type: "button", data: {toggle: "collapse", target: "#navbar-main"}}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        .navbar-collapse.collapse#navbar-main
          %ul.nav.navbar-nav.navbar-right
            - if signed_in?
              %li
                = link_to projects_path do
                  %i.icon-suitcase
                  Projects
              %li
                = link_to destroy_user_session_path do
                  %i.icon-signout
                  Logout
            - else
              %li
                = link_to new_user_session_path do
                  %i.icon-signin
                  Login

    .container#main-content
      = bootstrap_flash
      = yield

    %footer
      .container
        .pull-left Taskie
        .pull-right#links
          = link_to "http://github.com/Hauptstimme/taskie", target: "_blank" do
            %i.icon-github.icon-large
