!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{http: {equiv: "X-UA-Compatible"}, content: "IE=Edge,chrome=1"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : "Taskie"
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    -# ["144x144", "114x114", "72x72", nil].each do |size|
      =# favicon_link_tag ["apple-touch-icon", size, "precomposed.png"].compact.join("-"), rel: 'apple-touch-icon-precomposed', type: 'image/png', sizes: size
    = favicon_link_tag 'https://hauptstimme.github.io/favicon.ico', rel: 'shortcut icon'

    = stylesheet_link_tag "application", media: "all"
    = cdn_css_tag "font-awesome/4.3.0/css/font-awesome.min"

  %body
    .navbar.navbar-inverse
      .container
        .navbar-header
          = link_to root_path, class: "navbar-brand" do
            Taskie
            #spinner
          %button.navbar-toggle{type: "button", data: {toggle: "collapse", target: "#navbar-main"}}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        .navbar-collapse.collapse#navbar-main
          %ul.nav.navbar-nav.navbar-right
            - if signed_in?
              - if current_user.projects.any?
                - cache ["current_user_projects", current_project_id = Rails.application.routes.recognize_path(request.path)[:project_id], current_user.projects] do
                  - if current_project_id
                    %ul.nav.navbar-nav.navbar-left
                      %li
                        = link_to project_path(current_project_id) do
                          %i.fa.fa-folder.fa-fw
                          = current_user.projects.find(current_project_id).name
                    %li.dropdown
                      = link_to nil, data: { toggle: "dropdown", target: "#" }, class: "dropdown-toggle" do
                        %i.fa.fa-suitcase.fa-fw
                        Other projects
                        %i.fa.fa-caret-down
                      %ul.dropdown-menu
                        - current_user.projects.where.not(id: current_project_id).each do |p|
                          %li
                            = link_to p do
                              %i.fa.fa-folder.fa-fw
                              = p.name
                        %li.divider
                        %li
                          = link_to new_project_path do
                            %i.fa.fa-plus.fa-fw
                            New project
                  - else
                    %li.dropdown
                      = link_to nil, data: { toggle: "dropdown", target: "#" }, class: "dropdown-toggle" do
                        %i.fa.fa-suitcase.fa-fw
                        Projects
                        %i.fa.fa-caret-down
                      %ul.dropdown-menu
                        - current_user.projects.each do |p|
                          %li
                            = link_to p do
                              %i.fa.fa-folder.fa-fw
                              = p.name
                        %li.divider
                        %li
                          = link_to new_project_path do
                            %i.fa.fa-plus.fa-fw
                            New project
              - else
                %li
                  = link_to new_project_path do
                    %i.fa.fa-plus.fa-fw
                    New project

              %li.dropdown
                = link_to nil, data: { toggle: "dropdown", target: "#" }, class: "dropdown-toggle" do
                  %i.fa.fa-user.fa-fw
                  Account
                  %i.fa.fa-caret-down
                %ul.dropdown-menu
                  %li.dropdown-header= user_with_gravatar current_user
                  %li.divider
                  %li
                    = link_to new_user_invitation_path do
                      %i.fa.fa-plus.fa-fw
                      Invite
                  %li
                    = link_to settings_path do
                      %i.fa.fa-cog.fa-fw
                      Settings
                  %li
                    = link_to destroy_user_session_path do
                      %i.fa.fa-sign-out.fa-fw
                      Logout
            - else
              %li
                = link_to new_user_session_path do
                  %i.fa.fa-sign-in.fa-fw
                  Login

    .container#main-content
      = bootstrap_flash
      = yield

    %footer= render "layouts/footer"
  = javascript_include_tag "application"
  - if Rails.env.development?
    = javascript_include_tag "https://raw.githubusercontent.com/Khan/tota11y/52d130e5bb9494fdc00ba5d6cdfbb6909e27fc87/build/tota11y.min.js"
