= inside_layout "application" do
  .row
    .col-md-3.project-details= render @project
    .col-md-9
      %ul.nav.nav-tabs
        = menu_item t("title.tasks"), project_tasks_path
        = menu_item t("title.milestones"), project_milestones_path
      = yield
